<div *ngFor="let car of cars" class="col-lg-3 col-md-4 col-sm-6">
    <div class="single-featured-cars">
        <div class="featured-img-box">
            <div class="featured-cars-img">
                <img src="{{ car.imageUrl }}" alt="cars" />
            </div>
            <div class="featured-model-info">
                <p>
                    model: {{ car.year }}
                    <span class="featured-mi-span">{{ car.type }}</span>
                    <span class="featured-hp-span"> {{ car.hp }}HP</span>
                    automatic
                </p>
            </div>
        </div>
        <div class="featured-cars-txt">
            <!-- todo fix body ->SEDAN -->
            <h2>
                <a href="#"
                    >{{ car.model }} <span> {{ car.type }}</span> sedan</a
                >
            </h2>
            <h3>${{ car.price | number : "1.0-0" }}</h3>
            <!-- TODO направи PIPE za truncate на дескрипшъна -->
            <p>
                {{ car.description }}
            </p>
        </div>
    </div>
</div>
