<ng-container *ngIf="cars.length == 0">
    <div class="no-cars">
        <h1>No Car for selling</h1>
    </div>
</ng-container>

<div *ngFor="let car of cars" class="col-lg-3 col-md-4 col-sm-6">
    <div class="single-featured-cars">
        <div class="featured-img-box fixed">
            <div class="featured-cars-img">
                <img src="{{ car.imageUrl }}" alt="cars" />
            </div>
            <div class="featured-model-info">
                <p>
                    model: {{ car.year }}
                    <span class="featured-mi-span">{{ car.type }}</span>
                    <span class="featured-hp-span"> {{ car.hp }}HP</span>
                    {{ car.transmission }}
                </p>
            </div>
        </div>
        <div class="featured-cars-txt">
            <h2>
                <a routerLink="/catalog/{{ car._id }}"
                    >{{ car.model }} <span> {{ car.type }}</span></a
                >
            </h2>
            <h3>${{ car.price | number : "1.0-0" }}</h3>

            <p>
                {{ car.description | truncate : 20 }}
            </p>
        </div>
    </div>
</div>
