<section id="new-cars" class="new-cars">
    <div class="container">
        <ng-container *ngIf="!deleteMode">
            <div class="section-header">
                <p>Car Info</p>
                <h2>{{ car.model }} {{ car.type }}</h2>
            </div>
            <!--/.section-header-->
            <div class="new-cars-content">
                <div class="owl-theme" id="new-cars-carousel">
                    <div class="new-cars-item">
                        <div class="single-new-cars-item">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <div class="new-cars-img">
                                        <img
                                            src="{{ car.imageUrl }}"
                                            alt="img"
                                        />
                                    </div>
                                    <!-- /.new-cars-img -->
                                </div>
                                <div class="col-md-9 col-sm-12">
                                    <div class="new-cars-txt">
                                        <div class="car-details">
                                            <div class="car-detail">
                                                <p>Description:</p>
                                                <span>{{
                                                    car.description
                                                }}</span>
                                            </div>
                                            <div class="car-detail">
                                                <p>Year:</p>

                                                <span>{{ car.year }}</span>
                                            </div>
                                            <div class="car-detail">
                                                <p>HP:</p>
                                                <span>{{ car.hp }}</span>
                                            </div>
                                            <div class="car-detail">
                                                <p>Transmission:</p>

                                                <span>{{
                                                    car.transmission
                                                }}</span>
                                            </div>
                                            <div class="car-detail">
                                                <p>Price:</p>
                                                <span
                                                    >${{
                                                        car.price
                                                            | number : "1.0-0"
                                                    }}</span
                                                >
                                            </div>
                                            <div
                                                class="car-detail"
                                                *ngIf="!isOwner"
                                            >
                                                <p>Owner:</p>

                                                <span>
                                                    {{ ownerInfo.username }} -
                                                    {{ ownerInfo.email }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="buttons">
                                            <ng-container *ngIf="isOwner">
                                                <button
                                                    class="welcome-btn"
                                                    (click)="onEdit()"
                                                >
                                                    edit car
                                                </button>
                                                <button
                                                    class="welcome-btn"
                                                    (click)="goBack()"
                                                >
                                                    back
                                                </button>
                                                <button
                                                    class="welcome-btn delete-btn"
                                                    (click)="deleteMode = true"
                                                >
                                                    delete car
                                                </button>
                                            </ng-container>
                                            <ng-container *ngIf="!isOwner">
                                                <button
                                                    class="welcome-btn"
                                                    (click)="contact()"
                                                >
                                                    contact seller
                                                </button>
                                                <button
                                                    class="welcome-btn"
                                                    (click)="goBack()"
                                                >
                                                    back
                                                </button>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <!--/.new-cars-txt-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/#new-cars-carousel-->
            </div>
        </ng-container>

        <ng-container *ngIf="deleteMode">
            <div class="section-header">
                <h2 class="delete">
                    Do you want to delete: {{ car.model }} {{ car.type }}
                </h2>
                <div class="col-md-3 col-sm-12">
                    <div class="new-cars-img">
                        <img src="{{ car.imageUrl }}" alt="img" />
                    </div>
                </div>
                <div class="buttons">
                    <button
                        (click)="onDelete(car._id)"
                        class="welcome-btn delete-btn"
                    >
                        Delete
                    </button>
                    <button (click)="onCancel()" class="welcome-btn">
                        Back
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</section>
