@import url("../../../assets/css/bootstrap.min.css");

.featured-cars {
    padding: 112px 0 120px;
}
.featured-cars-content {
    padding-top: 96px;
}
.button img {
    background-color: white;
}
.featured-model-info h3 {
    text-align: center;
}
