<section id="featured-cars" class="featured-cars">
    <div class="container">
        <div class="section-header">
            <p>checkout <span>the</span> cars</p>
            <h2>cars for sale</h2>
        </div>

        <div class="featured-cars-content">
            <div class="row">
                <app-car-info />
            </div>
        </div>
    </div>
    <!-- <div *ngIf="cars.length > 0; else noCars">
        <h2>Car Catalog</h2>
        <ul>
            <li *ngFor="let car of cars">
                <strong>{{ car.body }} {{ car.brand }}</strong> -
                {{ car.image }}
            </li>
        </ul>
    </div>

    <ng-template #noCars>
        <p>No cars available at the moment.</p>
    </ng-template> -->
</section>
