<section id="home" class="welcome-hero">
    <div class="container">
        <div class="welcome-hero-txt animated fadeInDown">
            <h2>sell your car in resonable price</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <!-- TODO fix button -->
            <button class="welcome-btn" routerLink="/users/login">Login</button>
        </div>
    </div>
</section>
