<div class="contact">
    <div class="footer-top">
        <div class="row">
            <div class="col-md-3 col-sm-1">
                <div class="single-footer-widget">
                    <div class="footer-logo">
                        <a href="index.html">carvilla</a>
                    </div>
                    <p>Best site to sell your car</p>
                    <div class="footer-contact">
                        <a
                            href="https://www.linkedin.com/in/georgi-georgiev-999b50295/"
                            target="_blank"
                            >LinkedIn</a
                        >
                        <a
                            href="mailto:georgigeorgiev1982@gmail.com"
                            target="_blank"
                            >georgigeorgiev1982&#64;gmail.com</a
                        >
                        <p>+359 123456</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="single-footer-widget">
                    <h2>about devloon</h2>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">career</a></li>
                        <li>
                            <a href="#">terms <span> of service</span></a>
                        </li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="single-footer-widget">
                    <h2>top brands</h2>
                    <div class="row">
                        <div class="col-md-7 col-xs-6">
                            <ul>
                                <li>
                                    <a
                                        href="https://www.bmw.com/en/index.html"
                                        target="_blank"
                                        >BMW</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.lamborghini.com/en-en"
                                        target="_blank"
                                        >lamborghini</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.audi.com/en.html"
                                        target="_blank"
                                        >audi</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.toyota.com/"
                                        target="_blank"
                                        >toyota</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.honda.com/"
                                        target="_blank"
                                        >honda</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-xs-6">
                            <ul>
                                <li>
                                    <a
                                        href="ttps://www.ferrari.com/en-BG"
                                        target="_blank"
                                        >ferrari</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.porsche.com/central-eastern-europe/en/_bulgaria_/?cs_redirect=1"
                                        target="_blank"
                                        >porsche</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.landrover.bg/"
                                        target="_blank"
                                        >land rover</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://mitsubishi-motors.bg/"
                                        target="_blank"
                                        >mitsubishi</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.mercedes-benz.bg/"
                                        target="_blank"
                                        >mersedes</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="https://www.volvocars.com/"
                                        target="_blank"
                                        >volvo</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-3 col-sm-6">
                <div class="single-footer-widget">
                    <h2>news letter</h2>
                    <div class="footer-newsletter">
                        <p>
                            Subscribe to get latest news update and informations
                        </p>
                    </div>
                    <div class="hm-foot-email">
                        <div class="foot-email-box">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Add Email"
                            />
                        </div>
                        <!--/.foot-email-box-->
                        <div class="foot-email-subscribe">
                            <span><i class="fa fa-arrow-right"></i></span>
                        </div>
                        <!--/.foot-email-icon-->
                    </div>
                    <!--/.hm-foot-email-->
                </div>
            </div>
        </div>
    </div>
</div>
